@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@source "../**/*.{js,jsx,ts,tsx,mdx}";

@theme {
    --color-egg: #EDE8DA;
    --color-copper: #E8804C;
    --color-sun: #F3AD78;
    --color-beachball: #30C3CD;
    --color-moody: #282733;
    --color-sky: #1697B7;

    --font-barlow: "Barlow", system-ui, sans-serif;
}

@layer base {
    body {
        background-color: var(--color-egg);
        color: #000000;
        font-family: "Barlow", system-ui, sans-serif;
    }
}
