@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* MaterialIconInput.tsx */
.material-icon-button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #3D4258;
    background: transparent;
}

.material-icon-button.selected {
    border: 1px solid #5569EF;
    background: #111827;
}

.material-icon-preview {
    font-size: 20px;
}

/* MediaItemPreview.tsx */
.media-item-preview {
    display: flex;
    align-items: center;
}

.media-item-thumbnail {
    object-fit: fill !important;
}

.media-item-text {
    display: flex;
    flex-direction: column;
}

.media-item-url {
    opacity: 0.7;
    font-size: 12px;
    word-break: break-all;
}