@import '@savaryna/tailwindcss-material-symbols';
@import "tailwindcss";

@source "../**/*.{js,jsx,ts,tsx,mdx}";

@theme {
    --color-egg: #EDE8DA;
    --color-copper: #E8804C;
    --color-sun: #F3AD78;
    --color-beachball: #30C3CD;
    --color-moody: #282733;
    --color-sky: #1697B7;

    --font-barlow: "Barlow", sans-serif;
    --font-oughter: "Oughter", sans-serif;

    --breakpoint-3xl: 125rem;
}

@layer base {
    html {
        @apply xl:scroll-smooth;
    }
{/*
    html {
        @apply xl:snap-y xl:snap-mandatory xl:scroll-smooth;
    }*/}

    body {
        @apply bg-egg text-moody font-barlow overflow-x-hidden mx-auto max-w-[2000px] text-[1rem] 2xl:text-[1.25rem] ;
    }

    p {
        @apply leading-8 2xl:leading-9 font-medium;
    }
}

@layer utilities {
    .section {
        @apply relative lg:h-[clamp(650px,100vh,900px)] xl:h-screen snap-start
    }
}

@layer components {
    .text-h2 {
        @apply text-[1.35rem] md:text-[1.75rem] xl:text-[2rem] 2xl:text-[2.5rem] font-medium font-oughter;
    }

    #error-message {
        @apply  text-red-700 bg-red-100 border border-red-300 rounded-md p-3 mb-4;
    }

    #success-message {
        @apply hidden text-green-800 bg-green-100 border border-green-300 rounded-md p-3 mb-4;
    }

    .sib-form .input_replaced:checked+.checkbox_tick_positive {
        background: #282733 !important;
        border-color: #282733 !important;
    }

    .grecaptcha-badge {
        visibility: hidden;
    }
}

