@import '@savaryna/tailwindcss-material-symbols';
@import "tailwindcss";

@source "../**/*.{js,jsx,ts,tsx,mdx}";

@theme {
    --color-egg: #EDE8DA;
    --color-copper: #E8804C;
    --color-sun: #F3AD78;
    --color-beachball: #30C3CD;
    --color-moody: #282733;
    --color-sky: #1697B7;

    --font-barlow: "Barlow", sans-serif;
    --font-oughter: "Oughter", sans-serif;

    --breakpoint-3xl: 125rem;
}

@layer base {
{/*
    html {
        @apply xl:scroll-smooth overflow-x-hidden
    }
*/}
    html {
        @apply xl:snap-y xl:snap-mandatory xl:scroll-smooth
    }

    body {
        @apply bg-egg text-moody font-barlow overflow-x-hidden mx-auto max-w-[2000px] text-[1rem] 2xl:text-[1.25rem]
    }

    p {
        @apply leading-7 md:leading-8 2xl:leading-9 font-medium
    }
}

@layer utilities {
    .section {
        @apply relative overflow-x-hidden xl:h-screen snap-start overflow-y-hidden
    }

    .desktop-container {
        @apply px-[1rem] md:px-[3rem] lg:px-[5rem] xl:px-[7rem] 3xl:px-[15rem] lg:py-20
    }

    .mobile-container {
        @apply px-[1rem] py-20 md:py-32 xl:py-0
    }

    .chemtrails-right {
        @apply xl:pr-[45rem] lg:pr-[30rem] lg:pl-[5rem] xl:pl-[7rem] 3xl:pl-[15rem] lg:py-20
    }

    .chemtrails-left {
        @apply xl:pl-[22rem] pr-[1rem] md:pr-[3rem] lg:pr-[5rem] xl:pr-[7rem] 3xl:pr-[15rem] lg:py-20
    }

    .stripes-right {
        @apply lg:pr-[20rem] xl:pr-[22rem] 3xl:pr-[35rem] lg:pl-[5rem] xl:pl-[7rem] 3xl:pl-[15rem] lg:py-20
    }

    .stripes-left {
        @apply lg:pl-[20rem] xl:pl-[22rem] 3xl:pl-[35rem] lg:pr-[5rem] xl:pr-[7rem] 3xl:pr-[15rem] lg:py-20
    }

}

@layer components {
    .text-h2 {
        @apply text-[1.35rem] md:text-[1.75rem] xl:text-[2rem] 2xl:text-[2.5rem] font-medium font-oughter;
    }

    #error-message {
        @apply  text-red-700 bg-red-100 border border-red-300 rounded-md p-3 mb-4;
    }

    #success-message {
        @apply hidden text-green-800 bg-green-100 border border-green-300 rounded-md p-3 mb-4;
    }

    .sib-form .input_replaced:checked+.checkbox_tick_positive {
        background: #282733 !important;
        border-color: #282733 !important;
    }

    .grecaptcha-badge {
        visibility: hidden;
    }
}

