@import '@savaryna/tailwindcss-material-symbols';
@import "tailwindcss";

@source "../**/*.{js,jsx,ts,tsx,mdx}";

@theme {
    --color-egg: #EDE8DA;
    --color-copper: #E8804C;
    --color-sun: #F3AD78;
    --color-beachball: #30C3CD;
    --color-moody: #282733;
    --color-sky: #1697B7;

    --font-barlow: "Barlow", sans-serif;
    --font-oughter: "Oughter", sans-serif;

    --breakpoint-3xl: 125rem;
}

@layer base {
    html {
        @apply xl:snap-y xl:snap-proximity xl:scroll-smooth;
    }

    body {
        @apply bg-egg text-moody font-barlow overflow-x-hidden mx-auto max-w-[2000px] text-[1rem] 2xl:text-[1.25rem] ;
    }

    p {
        @apply leading-8 2xl:leading-9 font-medium;
    }
}

@layer utilities {
    .text-h2 {
        @apply text-[1.35rem] md:text-[1.75rem] xl:text-[2rem] 2xl:text-[2.5rem] font-medium font-oughter;
    }

    .section {
        @apply relative lg:h-[clamp(650px,100vh,900px)] snap-start
    }
}
